.root {
    -fx-font-family: 'Consolas';
    -fx-background-color: #1b1e23;
}

.entity{
    -fx-background-color: transparent;
}

.label{
    -fx-font-size: 24;
    -fx-text-fill: white;
}

.entity-label{
    -fx-font-size: 12;
    -fx-text-fill: black;
    -fx-font-weight: bold;
}

.titulo {
    -fx-font-size: 40;
    -fx-text-fill: gray;
}

.toolbar {
    -fx-background-color: #1b1e23;
}

.button{
    -fx-border-color:#0099FF;
    -fx-background-color: #007BFF;
    -fx-text-fill: white;
    -fx-font-size: 20;
    -fx-border-width: 4;
    -fx-border-radius: 15;
    -fx-background-radius: 15;
}

.button-map{
    -fx-border-color:#0099FF;
    -fx-background-color: #007BFF;
    -fx-text-fill: white;
    -fx-font-size: 15;
    -fx-border-width: 2;
    -fx-border-radius: 15;
    -fx-background-radius: 15;
}

.button:hover{
    -fx-background-color:#0099FF;
}

.button:disabled{
    -fx-background-color: darkgray;
    -fx-border-color: gray;
    -fx-opacity: 1;
}

.progress-bar-vida{
    -fx-accent: red;
}

.progress-bar-defensa{
    -fx-accent: rgb(109, 189, 232);
}

.combat-borderpane{
    -fx-background-color: linear-gradient(from 0% 0% to 0% 100%, rgb(10, 30, 120), rgb(50, 100, 180), rgb(100, 160, 220));
    -fx-border-color: #323335b9;
    -fx-border-width: 6;
}

.shop-gridpane{
    -fx-border-color: #323335b9;
    -fx-border-width: 6;
}

.money-label{
    -fx-text-fill: yellow;
}

.hp-label{
    -fx-text-fill: red;
}

.shield-label{
    -fx-text-fill: cyan;
}

.energy-label{
    -fx-text-fill: purple;
    -fx-font-weight: bold;
}

.carta-label{
    -fx-font-size: 12;
    -fx-text-fill: black;
}