
.root {
    -fx-font-family: 'Consolas';
    -fx-background-color: #1b1e23;
}

.entity{
    -fx-background-color: transparent;
}

.label{
    -fx-font-size: 24;
    -fx-text-fill: white;
}

.entity-label{
    -fx-font-size: 12;
    -fx-text-fill: black;
    -fx-font-weight: bold;
}

.titulo {
    -fx-font-size: 40;
    -fx-text-fill: gray;
}

.toolbar {
    -fx-background-color: #1b1e23;
}

.button{
    -fx-border-color:#35F900;
    -fx-background-color: #00A21B;
    -fx-text-fill: white;
    -fx-font-size: 20;
    -fx-border-width: 4;
    -fx-border-radius: 15;
    -fx-background-radius: 15;
}

.button:hover{
    -fx-background-color:#35F900;
}

.progress-bar-vida{
    -fx-accent: red;
}

.progress-bar-defensa{
    -fx-accent: rgb(109, 189, 232);
}
